/*.callout-container: {
  width: 316px;
}*/


/* General
==========================*/
* {
  box-sizing: border-box;
}
body {
  background-color: black;
}
.bg_base {
  top: 0;
  background-size: cover;
  background-attachment: fixed;
}

.slide_0 {
  background: url('images/slider_diningroom.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.slide_1 {
  background: url('images/slider_LA.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.slide_2 {
  background: url('images/slider_meats.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main-wrapper {
  width: 100%;
  /*background: #4E2E28;*/
}

.content-width {
  width: 1000px;
  margin: auto;
}

a {
  color: #FFF;
  text-decoration: none;
}
a:hover {
  color: orange;
}

.full-width {
  width: 100%;
}

.block {
  display: block;
}


/* Header
==========================*/

.header-top {
  background: #1D1511;
}
.header-bottom {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background: url('images/bg-header.png') no-repeat #211611;
  background-position: center -50px;
}
.intro-text {
  float: left;
  padding: 15px;
  color: #FFF;
}
.social-bar {
  float: right;
  padding: 15px;
}

#logo {
  margin-top: -50px;
}
.nav-bar {

}

header {
  width: 100%;
  border-bottom: 5px solid #8B6969;
  -webkit-box-shadow: 0px 7px 10px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 7px 10px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 7px 10px 0px rgba(50, 50, 50, 0.75);
}
.nav-bar ul {
  text-align: center;
  list-style: none;
  padding: 3px;
}

.nav-bar li {
  margin-right: 18px;
  display: inline;
}

.nav-bar li:hover {
  color: orange;
  border-bottom: 5px solid orange;
  padding: 0 0 19px 0;
}

#top-bar {
  border: 2px solid black;
}


/* Main
==========================*/

main {
  width: 100%;
  display: block;

}
    /* Slider Text Content */

    .slider-text {
      background: url('images/bg-overlay-pattern.png') repeat;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      font-size: 1.5em;
      height: 700px;
      color: white;
      display: block;
      text-align: center;
      padding-top: 300px;
    }
    .slider-arrows {
      opacity: .6;
      position: absolute;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
    }
    .slider-arrows:hover {
      opacity: 1;
    }
    #prev-arrow {
      left: 40px;
    }
    #next-arrow {
      right: 40px;
    }
    .slider-text h1 {
      font-size: 2em;
      padding-bottom: 10px;
      display: inline-block;
      margin: 0 0;
      border-bottom: 1px dotted rgba(255,255,255,0.25);
    }
    .slider-text p {
      font-size: 1em;
      display: inline-block;
      margin: 0 0;
      border-bottom: 1px dotted rgba(255,255,255,0.25);
    }

    /* Callout Windows */
    .windows {
      position: relative;
      top: -188px;
    }
    .window-header {
      color: #FFF;
      background: orange;
      padding: 2px;
    }
    .window-header h1 {
      margin-top: 0;
      margin-bottom: 0;
    }
    .window {
      text-align: center;
      width: 320px;
      height: 400px;
      display: inline;
      float: left;
      border-radius: 5px;
      overflow: hidden;

    }
    .window button {
      font-size: 1em;
      padding: 20px;
      color: white;
      background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
      text-indent:0;
      border:1px solid #3866a3;
      text-align:center;
      display: table-cell;
      vertical-align: bottom;
    }

    .left {
      margin: 0 20px 20px 0;
    }

    .right {
      margin: 0 0 20px 0;
    }

    .window-img {
      overflow: hidden;
      height: 125px;
      border-bottom: 5px solid #8B6969;
    }

    .window-content {
      background: white;
      padding: 20px;
      color: black;
      height: 100%;
      display: table;
    }

    button {
      padding: 0 25px;
    }

    .main-bottom {

      background: #4E2E28;
      height: 1200px;
      border-top: 5px solid #8B6969;
    -webkit-box-shadow: 0px -7px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px -7px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px -7px 10px 0px rgba(50, 50, 50, 0.75);
    }


/* Footer
==========================*/





/* Clearfix
==========================*/

.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    *zoom: 1;
}


/* Media Queries
==========================*/

@media (max-width: 1018px) {
  body,
  .main,
  .main-wrapper,
  .main-bottom,
  .content-width,
  .windows,
  .group,
  .window,
  .window-content {
    width: 100%;
  }

/*  .left,
  .right {
    margin: 0 0 0 0;
  }*/
  .windows {
    margin: auto;
  }
  .window {
    float: initial;
    display: block;
    width: 90%;
    margin: 20px;
  }
  .window img {
    width: 100%;
  }
  .main-bottom {
    height: 100%;
  }







}