/*.callout-container: {
  width: 316px;
}*/

* {
  box-sizing: border-box;
}

#intro {
  float: left;
  padding: 15px;
  color: #FFF;
}

.social-bar {
  float: right;
  padding: 15px;
}
header {
  width: 100%;
  background: #4E2E28;
  border-bottom: 5px solid #8B6969;
}

body {
  background: url('images/slide_1.jpg');
  background-size: cover;
  /*position: absolute;*/
}

.main-wrapper {
  width: 100%;
  /*background: #4E2E28;*/
}

.content-width {
  width: 80%;
  margin: auto;
}

.nav-bar ul {
  text-align: center;
  list-style: none;
  padding: 3px;
}

.nav-bar li {
  margin-right: 18px;
  display: inline;
}

.nav-bar li:hover {
  color: orange;
  border-bottom: 5px solid orange;
  padding: 0 0 19px 0;
}

a {
  color: #FFF;
  text-decoration: none;
}

#top-bar {
  border: 2px solid black;
}

.full-width {
  width: 100%;
}

main {
  border: 1px solid red;
}



/* Grids
==========================*/
/*20px gutters*/

.col-1-1 {
  width: 1000px;
}
.col-1-2 {
  width: 490px;
}
.col-1-3 {
  width: 320px
}
.col-1-4 {
  width: 230px;
}
